<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>prepared by {{name}}</h2>
        <img class = "portrait" src = "/images/me.jpeg">
    </div>
    {{>footer}}
</body>


</html>